.hero__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    button{
        padding: 15px;
        border-radius: 20px;
        color: white;
        background-color: rgb(114, 114, 255);
        border: none;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            background-color: blue;
        }
        &:active{
            scale: 0.9;
        }
    }
}